/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
*/
body{
  background: rgba(71, 165, 174, 0.73);
  position: relative;
}
h4{
  font-size: 25px;
  color: #2b3542;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
}
.container{
  background: #fff;
  border: solid 1px #fff;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
  min-height: 800px;
}
  .bannerTopo{
    width: 100%;
    min-height: 450px;
    background-position: center!important;
    background-size: cover!important; 
    border-bottom: solid 2px #fff; 
    position:relative;
  }
    .bannerTopo .areaTitulo{
      height: 100%;
      background: rgba(0, 0, 0, 0.69);
      text-align: center;
      position: absolute;
      display: block;
      width: 100%;
    }
    .bannerTopo .areaTitulo img{
      margin-top: 60px;
      margin-bottom: 10px;
    }
    .bannerTopo .areaTitulo p{
      color: #fff;
      font-size: 36px;
      font-weight: 400;
      margin-top: 36px;
      text-transform: uppercase;
    }
  .areaLinks{
    
  } 
    .areaLinks section{
      margin: 15px 0;
      padding: 0 10px;
    }
      .areaLinks button{
        outline: none!important;
        background: transparent;
        font-size: 20px;
        font-weight: 500;
        color: #2b3542;
        position: relative;
        padding: 0 5px 0 37px;
        margin: 5px 0;
      }  
        .areaLinks button i{
          font-size: 30px;
          vertical-align: sub;
          margin: 0 5px;
          transition: All .1s ease;
          -webkit-transition: All .1s ease;
          -moz-transition: All .1s ease;
          -o-transition: All .1s ease;
          position: absolute;
          top: 0;
          left: 0;
        }
        .areaLinks button:hover i{
          font-size: 32px;
          transition:All .1s ease;
          -webkit-transition:All .1s ease;
          -moz-transition:All .1s ease;
          -o-transition:All .1s ease;
        }
        .areaLinks .area{
          max-width: 95%;
          margin: 0 auto;
        } 
          .areaLinks .area span{
            display: block;
            margin-top: 14px;
            font-size: 14px;
          }
          .areaLinks .area a{
            border: 1px solid #47a5ae;
            font-family: Lato,sans-serif;
            color: #fff;
            font-size: 16px;
            padding: 7px 55px;
            border-radius: 5px;
            display:inline-block;
            background: #47a5ae;
            text-align: center;
            margin: 5px 15px 5px 0;
            text-decoration: none;
          }
            .areaLinks .area a:hover{
              background: #f6f6f6;
              color: #47a5ae;
            }
.telaAutenticacao{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background: rgba(71, 165, 174, 0.96);

}
  .telaAutenticacao{
    
  }
    .telaAutenticacao .areaLogin{
      border: solid #fff 1px;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      display: block;
      width: 100%;
      max-width: 600px;
      min-height: 350px;

    }
      .telaAutenticacao .areaLogin a{

      } 
        .telaAutenticacao .areaLogin img{
          margin: 35px 0;
        }
        .telaAutenticacao .areaLogin p{
          text-transform: uppercase;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
        } 
        .telaAutenticacao .areaLogin input{
          display: block;
          margin: 10px auto;
          background: transparent;
          border: solid 1px #fff;
          padding: 10px;
          color: #fff;
          outline: none;

        }
        .telaAutenticacao .areaLogin button{
          display: block;
          margin: 0 auto;
          width: 100%;
          max-width: 195px;
          padding: 10px 0;
          background: #fff;
          border: solid 1px #fff;
          text-transform: uppercase;
          font-weight: 700;
          color: #49a6af;
          margin-bottom: 25px;
        }
         .telaAutenticacao .areaLogin span{
          color: red;
          font-style: italic;
          display: none;
         }


        .telaAutenticacao .areaLogin input::-webkit-input-placeholder { /* Chrome, Safari, Opera */
          color: #fff;
          text-transform: uppercase;
        }

        .telaAutenticacao .areaLogin input:-moz-placeholder { /* Firefox 18- */
          color: #fff;
          text-transform: uppercase;
       
        }

        .telaAutenticacao .areaLogin input::-moz-placeholder {  /* Firefox 19+ */
          color: #fff;
          text-transform: uppercase;
        }

        .telaAutenticacao .areaLogin input:-ms-input-placeholder { /* IE10+ */ 
          color: #fff; 
          text-transform: uppercase;
        }